<div class="container">
    <div class="row">
        <!-- <div class="col-sm-12 mx-auto">
            <app-slicer-selector></app-slicer-selector>
        </div> -->
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div style="text-align: center; margin-top: 20px;">
                <!-- <img src=" assets/5gLogo.png" height="300" class="d-inline-block align-center mx-auto" alt=""> -->
                <img src=" assets/itLogo.png" height="300" class="d-inline-block align-center mx-auto" alt="">
            </div>
            <div class="card card-signin my-3">
                <div class="card-body">
                    <h3 class="card-title text-center">Sign In</h3>
                    <form class="form-signin">
                        <div class="form-label-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                required (keyup.enter)="login()">
                        </div>
                        <!-- <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div> -->
                        <button style="margin-top: 10px; background-color: #4489eb;"
                            class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()" type="button">Sign
                            in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p-toast [style]="{width: 'auto'}" position="bottom-center"></p-toast> -->
<!-- <p-toast position="bottom-center" [style]="{width: '40%'}{margin-left: 'auto'}">
	<ng-template let-message pTemplate="message">
		<div innerHtml="{{htmlContent}}">
		</div>
	</ng-template>
</p-toast> -->