<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">VSD_ID</th>
            <th scope="col">Name</th>
            <th scope="col">VSB_ID</th>
            <th scope="col">ManagementType</th>
            <th scope="col">QoSParams</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of listData" (click)="modal.openModal(this,element)">
            <th scope="row">{{element.vsDescriptorId}}</th>
            <td>{{element.name}}</td>
            <td>{{element.vsBlueprintId}}</td>
            <td>{{element.managementType}}</td>
            <td>
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let key of objectKeys(element.qosParameters)">
                            <th scope="row">{{key}}</th>
                            <td>{{element.qosParameters[key]}}</td>
                        </tr> 
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table> -->

<h2 style="float: left">Vertical Service Descriptors</h2>
<button style="float: right; margin: 2px; background-color: #ffa500; border-color: #ffa500; margin-left: auto" id="yes" type="button" class="btn btn-primary" (click)="update()"><i class="fa fa-refresh"></i> Refresh</button>
<!-- <button style="float: right; margin: 2px; background-color: #ffa500; margin-left: auto" id="yes" type="button" class="btn btn-primary" (click)="instantiateVs()">New</button> -->
<div style="clear: both;" class="container-fluid" (click)="containerClick($event)">
    <hr />
    <div class="row" style="margin-top: 5px;">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let element of listData"
            style="display: flex;flex-direction: column;">
            <div [attr.id]="element.vs_descriptor_id" class="card mb-3 VSD"
                style="border-color: #ffa500; border-width: 2px; cursor: pointer; height:100%"
                (click)="clickEvent($event, element)" (mouseenter)="onEnter(element.vs_descriptor_id)"
                (mouseleave)="onLeave(element.vs_descriptor_id)">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-plus fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{element.name}}</h2>
                    <p class="card-text">
                        <b>Blueprint ID:</b> {{element.vs_descriptor_id}}
                    </p>
                    <p class="card-text">
                        <b>Management Type:</b> {{element.management_type}}
                    </p>
                    <h5>QoS Parameters</h5>
                    <div *ngFor="let key of objectKeys(element.qos_parameters)">
                        <p>{{key}} : {{element.qos_parameters[key]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="tooltip-span" style="display: none;" (mouseleave)="mouseLeftTooltip()">
    <div class="list-group">
        <div *ngIf="tenant">
            <a class="list-group-item list-group-item-action" type="button" (click)="instantiateVs()" id="instantiateVSI">Instantiate VS</a>
            <a class="list-group-item list-group-item-action" type="button" (click)="deleteDescriptor()" id="deleteVSD">Delete</a>
        </div>
        <div *ngIf="!tenant">
            <a class="list-group-item list-group-item-action" type="button" (click)="viewMoreInfo()" id="viewMore">View More</a>
        </div>
    </div>
</span>