flask==2.0.2
flasgger==0.9.5
SQLAlchemy==1.4.26
pika==1.2.0
Flask-OAuthlib==0.9.6
psycopg2-binary==2.9.1
flask-login==0.5.0
marshmallow_sqlalchemy==0.26.1
verboselogs==1.7
importlib-metadata==4.8.2
jsonschema==4.0.0
flask-cors==3.0.10
pycurl==7.44.1
packaging==21.2
