mongoengine==0.23.0
mixer==7.1.2
Flask==1.1.2
flask-mongoengine==1.0.0
marshmallow==3.10.0
pytest==6.2.2
pika==1.2.0
flask-login==0.5.0
bitarray==1.8.1
enum34==1.1.10
lxml==4.6.3
pyang==2.4.0
pyangbind==0.8.1
pyyaml==5.4.1
regex==2021.3.17
six==1.15.0
requests==2.25.1
flask_cors