<div class="container-fluid" id="modal-content-wrapper" style="height: 100%; display: flex; flex-flow: column;">
    <div class="row">
        <h2 id="modal-title" style="color: #4489eb;">Modify NS</h2>
        <i style="margin-left: auto; cursor: pointer;" class="fa fa-times fa-lg" aria-hidden="true" type=" button"
            (click)="closeModal()"></i>
    </div>
    <div style="width: 80%; height: 1px; margin: 0px auto; border-bottom: 1px solid #969696;">&nbsp;</div>

    <div id="modal-body-extra" style="overflow-y: auto; height: 90%; padding-top: 10px;">
        <form>
            <div class="container">
                <div class="row form-group">
                    <label for="dfId" class="col-sm-3 text-right col-form-label">DfId:</label>
                    <input class="form-control col-sm-9" type="text" id="dfId" placeholder="dfId" />
                </div>
                <div class="row form-group">
                    <label for="ilId" class="col-sm-3 text-right col-form-label">IlId:</label>
                    <input class="form-control col-sm-9" type="text" id="ilId" placeholder="ilid" />
                </div>
                <div class="row form-group">
                    <label for="nsiId" class="col-sm-3 text-right col-form-label">NsiId: </label>
                    <input class="form-control col-sm-9" type="text" id="nsiId" placeholder="nsiId">
                </div>
                <div class="row form-group">
                    <label for="nstId" class="col-sm-3 text-right col-form-label">NstId: </label>
                    <input class="form-control col-sm-9" type="text" id="nsiId" placeholder="nstId">
                </div>
                <div class="row form-group">
                    <label for="vsiId" class="col-sm-3 text-right col-form-label">VsiId: </label>
                    <input class="form-control col-sm-9" type="text" id="vsiId" placeholder="vsiId">
                </div>
            </div>
        </form>
    </div>

    <div class="row" style="margin-top: 5px;">
        <button style="margin-left: auto; background-color: #4489eb;" id="submitModification" type="button"
            class="btn btn-primary" (click)="submitNSModification()">Submit</button>
    </div>
</div>