<div class="container-fluid" id="modal-content-wrapper" style="height: 100%; display: flex; flex-flow: column;">
    <div class="row">
        <h2 id="modal-title" style="color: #ffa500;">Create New SLA</h2>
        <i style="margin-left: auto;cursor: pointer;" class="fa fa-times fa-lg" aria-hidden="true" type=" button"
            (click)="closeModal()"></i>
    </div>
    <div style="width: 80%; height: 1px; margin: 0px auto; border-bottom: 1px solid #969696;">&nbsp;</div>

    <div class="container" id="modal-body-extra" style="overflow-y: auto; padding-top: 10px; height: 90%;">
        <form>
            <div class="form-group row">
                <label for="operationalState" class="col-sm-3 text-right">Operational State:</label>
                <div class="col-sm-9">
                    <select class="form-control" id="operationalState">
                        <option>ENABLED</option>
                        <option>DISABLED</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="scope" class="col-sm-3 text-right">Scope:</label>
                <div class="col-sm-9">
                    <select class="form-control" id="scope" (change)="onScopeChange()">
                        <option>GLOBAL_VIRTUAL_RESOURCE</option>
                        <option>MEC_RESOURCE</option>
                        <option>CLOUD_RESOURCE</option>
                    </select>
                </div>
            </div>
            <div *ngFor="let i of constraints; let k=index">
                <div class="row">
                    <div class="col-md-1" style="margin:auto;">
                        <i *ngIf="k!=0" style="float:right" class=" fa fa-trash fa-2x" (click)="removeSla(k)"></i>
                    </div>
                    <div class="col-md-11">
                        <div class="container-fluid" [ngStyle]="myStyle(k)">
                            <div class="form-group row" *ngIf="showLocation">
                                <label for="location" class="col-sm-3 text-right">Location: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" [attr.id]="'location'+i"
                                        placeholder="Enter Value" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vRAM" class="col-sm-3 text-right">vRAM: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" [attr.id]="'vRAM'+i"
                                        placeholder="Enter Value" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vCPU" class="col-sm-3 text-right">vCPU: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" [attr.id]="'vCPU'+i"
                                        placeholder="Enter Value" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vStorage" class="col-sm-3 text-right">vStorage: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" [attr.id]="'vStorage'+i"
                                        placeholder="Enter Value" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button *ngIf="showLocation" id="addConstraint" type="button" class="btn btn-primary"
                    (click)="addConstraint()">Add +1
                    Constraint</button>
            </div>
        </form>

    </div>

    <div class="row" style="margin-top: 5px;">
        <button style="margin-left: auto;" id="submitSLA" type="button" class="btn btn-primary"
            (click)="submitSLA()">Submit</button>
    </div>
</div>