<div class="container">
    <div class="row">
        <h1 style="width:100%; text-align:center">Welcome Back, </h1>
        <h1 style="width:100%; text-align:center">{{userName}}</h1>
    </div>
    <h2>Entities and Resources</h2>
    <hr />
    <div class="row" style="margin-top: 5px;">
        <div *ngIf="!isTenant" class="col-sm-6 col-md-4 col-lg-4" style="margin:auto;">
            <div id="groups" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;" (click)="goToGroups()"
                (mouseenter)="onEnter('groups')" (mouseleave)="onLeave('groups')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-users fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{groups}}</h2>
                    <p class="card-text">Existing Groups</p>
                </div>
            </div>
        </div>

        <div *ngIf="!isTenant" class="col-sm-6  col-md-4 col-lg-4"
            style="display: flex;flex-direction: column; margin:auto;">
            <div id="tenants" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;" (click)="goToGroups()"
                (mouseenter)="onEnter('tenants')" (mouseleave)="onLeave('tenants')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-user fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{tenants}}</h2>
                    <p class="card-text">Existing Tenants</p>
                </div>
            </div>
        </div>

        <div *ngIf="!isTenant" class="col-sm-6 col-md-4 col-lg-4"
            style="display: flex;flex-direction: column; margin:auto;">
            <div id="domains" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;" (click)="goToDomains()"
                (mouseenter)="onEnter('domains')" (mouseleave)="onLeave('domains')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-cloud fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{domains}}</h2>
                    <p class="card-text">Existing Domains</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4" style="display: flex;flex-direction: column; margin:auto;">
            <div id="blueprints" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;"
                (click)="goToBlueprints()" (mouseenter)="onEnter('blueprints')" (mouseleave)="onLeave('blueprints')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-file-text-o fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{blueprints}}</h2>
                    <p class="card-text">Existing Blueprints</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4" style="display: flex;flex-direction: column; margin:auto;">
            <div id="descriptors" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;"
                (click)="goToDescriptors()" (mouseenter)="onEnter('descriptors')" (mouseleave)="onLeave('descriptors')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-file-o fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{descriptors}}</h2>
                    <p class="card-text">Existing Descriptors</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4" style="display: flex;flex-direction: column; margin:auto;">
            <div id="nst" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;" (click)="goToNST()"
                (mouseenter)="onEnter('nst')" (mouseleave)="onLeave('nst')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-file-text-o fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{nst}}</h2>
                    <p class="card-text">Existing Network Slice Templates</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4" style="display: flex;flex-direction: column; margin:auto;">
            <div id="net" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;" (click)="goToNet()"
                (mouseenter)="onEnter('net')" (mouseleave)="onLeave('net')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-sitemap fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{netslices}}</h2>
                    <p class="card-text">Existing Network Slice Instances</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4" style="display: flex;flex-direction: column; margin:auto;">
            <div id="instances" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;"
                (click)="goToInstances()" (mouseenter)="onEnter('instances')" (mouseleave)="onLeave('instances')">
                <div class="card-body" style="clear: none;">
                    <i class="fa fa-rocket fa-4x" style="float: right; color:lightgray;"></i>
                    <h2 class="card-title">{{vsinstances}}</h2>
                    <p class="card-text">Existing Instances</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <h2>Current Network and Slices</h2>
    <div class="row" style="height: 600px; width:100%">
        <app-network-diagram></app-network-diagram>
    </div> -->
</div>