<div class="container" id="modal-content-wrapper" style="height: 100%;">
    <div class="row">
        <h2 id="modal-title" style="color: #ffa500;">Are you sure?</h2>
        <i style="margin-left: auto;cursor: pointer;" class="fa fa-times fa-lg" aria-hidden="true" type=" button"
            (click)="closeModal()"></i>
    </div>
    <div style="width: 80%; height: 1px; margin: 0px auto; border-bottom: 1px solid #969696;">&nbsp;</div>

    <div class="row" style="margin-top: 40px;">
        <button autofocus style="margin: 2px;" id="cancelAction" type="button" class="btn btn-secondary" (click)="no()">No</button>
        <button style="margin-left: auto; background-color: #ffa500; border-color: #ffa500;" id="confirmAction" type="button" class="btn btn-primary" (click)="yes()">Yes</button>
    </div>
</div>