<h2 style="float: left">Domains</h2>
<button style="float: right; margin: 2px; background-color: #ffa500; border-color: #ffa500; margin-left: auto" id="yes" type="button" class="btn btn-primary" (click)="update()"><i class="fa fa-refresh"></i> Refresh</button>
<div style="clear: both;" class="container-fluid" (click)="containerClick($event)">
    <hr />
    <div class="row" style="margin-top: 5px;">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let element of listData"
            style="display: flex;flex-direction: column;">
            <div [attr.id]="element.domainId" class="card mb-3"
                style="border-width: 2px; cursor: pointer; height:100%; border-color: #ffa500;"
                (click)="clickEvent($event, element)" (mouseenter)="onEnter(element.domainId)"
                (mouseleave)="onLeave(element.domainId)">
                <div *ngIf="element.control" class="card-body"
                    style="text-align: center;display: flex; justify-content: center; align-items: center;"
                    (click)="onboardDomain($event)">
                    <div style="color: #ffa500; opacity: 0.7;">
                        <i class="fa fa-plus fa-4x"></i>
                        <h4>{{element.name}}</h4>
                    </div>
                </div>


                <div *ngIf="!element.control" class="card-body DOMAIN" style="clear: none;">
                    <i class="fa fa-plus fa-4x" style="float: right; color:lightgray;"></i>
                    <h3 class="card-title">{{element.name}}</h3>
                    <p class="card-text">
                        <b>Owner:</b> {{element.owner}}
                    </p>
                    <p class="card-text">
                        <b>Description:</b> {{element.description}}
                    </p>
                    <p class="card-text">
                        <b>Status:</b> {{element.status}}
                    </p>
                    <p class="card-text">
                        <b>Interface Type:</b> {{element.interfaceType}}
                    </p>
                    <p class="card-text">
                        <b>Url:</b> {{element.url}}
                    </p>
                    <p class="card-text">
                        <b>Port:</b> {{element.port}}
                    </p>
                    <h5>Domain Layers' Types:</h5>
                    <div *ngFor="let layer of element.ownedLayers">
                        <!-- domainLayerType -->
                        <p> - {{layer}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="tooltip-span" style="display: none;" (mouseleave)="mouseLeftTooltip()">
    <div class="list-group">
        <div *ngIf="!tenant">
            <a class="list-group-item list-group-item-action" type="button" (click)="viewMoreInfo()" id="viewMore">View More</a>
            <a class="list-group-item list-group-item-action" type="button" (click)="deleteDomain()" id="deleteDomain">Delete</a>
        </div>
    </div>
</span>